<div id = "navigation-bar">
  <ul id = "navigation-list" >
    <li id = "navigation-list-item">
      <p id="newUser">New User</p>
    </li>
  </ul>
</div>


<div id="register-form">
<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
</div>
