/* This file is for your main application css. */
@import "bootstrap";

.btn-coin-toggle{
    margin: 5px;
}




  .blinkredOn {
    background-color:rgb(201, 132, 132);
}

.blinkgreenOn {
    background-color: rgb(145, 219, 145)
}