/* This file is for your main application css. */
@import "bootstrap";

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

html, *{
  box-sizing: border-box;
  font-family: "Avenir";
}
body{
  background-color: rgb(239,239,239);
}

li a:hover {
  color: rgb(126,126,126);
}



#navigation-bar {

  margin-top: -10px;
  width: 100%;
  background-color: #333;
  height: 60px;
}

#navigation-list {
  padding: 15px;
  text-align: center;
}
.logo_location{
  cursor: pointer;
  height: 56px;
}
#navigation-list-item {
  // border-right: 1px solid rgb(225,225,225);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #C0C0C0;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 10%;
  margin-left: 26%;
  width: 50%;
  height: 450px;
  text-align: center;
  background-color: rgb(246,246,246);
}
#main-container{
  margin-top: 100px;
  margin-bottom: 10%;
  margin-left: 26%;
  width: 50%;
  text-align: center;
}

.main-container-home {
  margin-top: 180px;
  margin-bottom: 10%;
  width: 90%;
  text-align: center;
}
.form-group{
  margin-top: 25px;
  font-size: large;
  margin-left: 20px;
}

#form-control {
  width: 60%;
}

.form-control {
  width: 80%;
  margin-left:35px;
}

#login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

#hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#register-text {
  font-size: 20px;
  margin-left: 30px;
  line-height: 200%;
}

// #new-user {
//   text-align: center;
//   color:#C0C0C0;
// }

#register-form{
  margin-top: 100px;
  margin-bottom: 10%;
  margin-left: 26%;
  width: 50%;
  height: 600px;
  text-align: center;
  background-color: rgb(246,246,246);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #C0C0C0;
}

.popup .aboutUs {
  visibility: hidden;
  width: 400px;
  height: auto;
  background-color: #C0C0C0;
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -1000%;

  padding:10px;
  font-size: 16px;
}



.popup .showAbout{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
