<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Cryptotracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"
  </head>

  <body>
    <nav class="navbar navbar-expand-lg" id="navbar">
  <a class="navbar-brand" href="selectcrypto">Cryptotracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/selectcrypto">Home</a>
      </li>
      <li class="nav-item active">
        <div class="nav-link popup" onclick="showAbout()">About
          <span class="aboutUs" id="aboutUs">
          <p>CryptoCurrency Price tracker brings all the real time
              pricing data information in a single platform.
              It will make users easy to retrieve, store, analyse,
              visualize and monitor the cryptocurrency data
              from different cryptos.
        </p>
        <p>
            You can use it to track buy price, sell price, spot price,
            size and use these data to predict price movements
            and understand volatility.
        </p>
        </span>
      </div>
      </li>
      <%= if !@current_user do %>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/new">Register</a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="/alerts">Alerts</a>
        </li>
        <li class="nav-item active">
              <%= link "Logout", to: "/session", class: "nav-link", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>


</nav>
    <div class="container">
      <div class="row">
      <div class="col-3 offset-9">
          <%= if @current_user do %>
          <p>
              Hello, <%= @current_user.email %>
          </p>
          <% end %>
      </div>
      </div>
     <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
    function showAbout() {
      var popup = document.getElementById("aboutUs");
      popup.classList.toggle("showAbout");
    }
    </script>
  </body>
</html>
